.MainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 .5rem 0 .5rem;
    overflow-y:scroll;
    scrollbar-width: none;
}
.top{
    width: 100%;
    height: 5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    align-items: center;
    justify-content: space-between;
    margin: 2.7rem 0;
}
.top> h1{
    padding: .2rem;
}


.navbar{
    display: flex;
    
}
@media screen and (max-width: 1200px){
    .navbar{
        display: none;
    }
    
  }

